/* VARIÁVEIS */

:root{
    --cor-fundo: #f4f4f4;
    --cor-principal: #7b2cbf;
    --cor-secundaria: #ffffff;
    --cor-texto: #333;

    --fonte-titulo: Arial, sans-serif;
    --fonte-texto: Verdana, sans-serif;
}

/* GERAL */

body{
    margin:0;
    background: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
}

/* HEADER */

header{
    background: var(--cor-principal);
    color:white;
    text-align:center;
    padding:20px;
}

h1{
    font-family: var(--fonte-titulo);
}

/* MENU HORIZONTAL */

nav{
    background:black;
    position: sticky;
    top:0;
}

nav ul{
    display:flex;
    justify-content:center;
    list-style:none;
    margin:0;
    padding:0;
}

nav li{
    margin:10px;
}

nav a{
    color:white;
    text-decoration:none;
}

/* CONTAINER EM COLUNAS */

.container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;

    padding:20px;
}

/* CARDS */

.card{
    background:white;
    padding:20px;
    border-radius:10px;
}