/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* VARIÁVEIS */
:root{

--cor-primaria:#7c3aed;
--cor-secundaria:#a855f7;
--cor-fundo:#f5f3ff;
--cor-texto:#222;

--fonte-principal:Arial,sans-serif;

--padding-padrao:20px;
--margin-padrao:20px;

--borda-padrao:2px solid #7c3aed;

--raio-borda:10px;
}

body{
background-color:var(--cor-fundo);

font-family:var(--fonte-principal);

padding:var(--padding-padrao);

color:var(--cor-texto);
}

/* MENU */
#menu-toggle{
display:none;
}

.abrir-menu{

background-color:var(--cor-primaria);

color:white;

padding:10px 20px;

font-size:35px;

cursor:pointer;

border-radius:var(--raio-borda);

display:inline-block;

margin-bottom:20px;
}

.menu{

display:none;

background-color:var(--cor-primaria);

width:250px;

height:100vh;

padding:20px;

position:fixed;

top:0;
left:0;
}

#menu-toggle:checked ~ .menu{
display:block;
}

#menu-toggle:checked ~ .abrir-menu{
display:none;
}

.fechar-menu{

color:white;

font-size:30px;

cursor:pointer;

display:block;

margin-bottom:20px;
}

.menu ul{
list-style:none;
}

.menu li{
margin-bottom:20px;
}

.menu a{

color:white;

text-decoration:none;

font-size:20px;
}

/* HEADER */
header{

background-color:var(--cor-primaria);

color:white;

padding:20px;

border:var(--borda-padrao);

border-radius:var(--raio-borda);

margin-bottom:20px;
}

/* SECTIONS */
section{

background-color:white;

padding:20px;

margin-bottom:20px;

border:var(--borda-padrao);

border-radius:var(--raio-borda);
}

h1,h2{
margin-bottom:15px;
}

p{
margin-bottom:15px;
}

/* BOTÃO */
button{

background-color:var(--cor-secundaria);

color:white;

border:none;

padding:10px 20px;

border-radius:var(--raio-borda);

cursor:pointer;
}